*~
*.o
*.la
*.lo
*.pc
Makefile
aclocal.m4
autom4te.cache
build/
config.guess
config.h.in
config.sub
configure
depcomp
Makefile.in
install-sh
ltmain.sh
m4/
missing
config.h
config.log
config.status
*.deps
libtool
stamp-h1
