*~
*.o
*.la
*.lo
*.pc
Makefile
aclocal.m4
autom4te.cache
build/
msvc_build/*/.vs/
*.vcxproj.user
Debug/
Release/
.libs/
config.guess
config.h.in
config.sub
configure
depcomp
Makefile.in
install-sh
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
config.h
config.log
config.status
*.deps
libtool
stamp-h1
bmx_scm_version.h

/apps/bmxparse/bmxparse
/apps/bmxtimecode
/apps/bmxtranswrap/bmxtranswrap
/apps/mxf2raw/mxf2raw
/apps/raw2bmx/raw2bmx

/ar-lib
/compile
/test-driver

/test/*/*.log
/test/*/*.trs
/test/create_test_essence
/test/file_md5
/test/file_truncate
/test/rdd6/test_rdd6_xml

/tools/h264dump
/tools/j2cdump
/tools/jp2extract
/tools/movdump
/tools/rdd36dump
/tools/vc2dump
