info_1.xml.bin text eol=lf
info_2.xml.bin text eol=lf
info_3.xml.bin text eol=lf
info_4.xml.bin text eol=lf
info_5.xml.bin text eol=lf
info_6.xml.bin text eol=lf
info_7.xml.bin text eol=lf
info_8.xml.bin text eol=lf
info_9.xml.bin text eol=lf
info_10.xml.bin text eol=lf
text_example.xml.bin text eol=lf
font.ttf binary
image.png binary
